[Desktop Entry]
Name=Whippet Core
Comment=Connect to the Whippet P2P Network
Comment[de]=Verbinde mit dem Whippet peer-to-peer Netzwerk
Comment[fr]=Whippet, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Whippet, eşten eşe kriptografik sanal para birimi
Exec=whippet-qt %u
Terminal=false
Type=Application
Icon=whippet128
MimeType=x-scheme-handler/whippet;
Categories=Office;Finance;
